# Diese Datei als config/config.php verwenden
# config/config.php ist in .gitignore und wird NICHT eingecheckt

DB_HOST=localhost
DB_PORT=3306
DB_NAME=itd_landmaschinen
DB_USER=itd_user
DB_PASS=BITTE_AENDERN
